.line {
    --thickness: 2px;
    --margin: 5px;
    --length: 100%;
    height: var(--thickness);
    margin: var(--margin) 0px;
    background-color: var(--divider);
    width: var(--length);
    transition: all var(--transition);
}

.about_me .container-inner:not(.visible){
    background-color: transparent;
}

.about_me *{
    transition: all 0.5s;
}

.about_me .container-inner:not(.visible) .title{
    transform: translateY(100%);
}
.about_me .container-inner:not(.visible) .body{
    transform: translateY(-100%);
}
.about_me .container-inner:not(.visible) .line{
    --length:0;
}

.about_me .moving-container{
    overflow: hidden;
}