.about_me .title {
    text-align: center;
    position: relative;
}

.about_me .title,
.about_me .text {
    margin: 40px;
}

.about_me .box {
    max-width: 800px;
    margin: auto;
}

.about_me {
    padding: 20px 60px;
    margin: 100px 0px;
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.582);
    background-color: var(--box2);
}

.about_me .title::after {
    content: "";
    position: absolute;
    height: 0.2em;
    background-color: var(--color);
    width: 100%;
    top: 100%;
    left: 0px;
    border-radius: 50%;
}

.about_me .text {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    line-height: 1.5em;
    text-decoration-color: var(--box2hl);
}


@media screen and (max-width: 600px) {

    .about_me .title,
    .about_me .text {
        margin: 40px 20px;
    }
    .about_me {
        padding: 20px 10px;
    }
}
@media screen and (max-width: 350px) {
    .about_me {
        font-size: 0.7rem;  
    }
}