.capability {
    margin-top:50px
}

.capability .title {
    margin: 0px var(--padding);
    font-size: var(--font-size);
}


.capability_entry {
    margin: 0px var(--padding);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    max-width: 600px;
    --transition: 0.4s;
}


.vertical_line {
    --thickness: 2px;
    --margin: 10px;
    --length: 100%;
    width: var(--thickness);
    margin: 0px var(--margin);
    background-color: var(--box1hl);
    height: var(--length);
    transition: all var(--transition);
}

.capability_entry:not(.visible) .vertical_line {
    --length: 0%;
}

.capability .container {
    display: grid;
    grid-template-columns: auto auto;
    gap:70px 0px;
}



.capability_entry i {
    font-size: 100px;
    width: 100px;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    --float_in_from_x: 1;
    --float_in_from_y: 0;
}

.capability_entry i::before {
    transition: all var(--transition);
}

.capability_entry:not(.visible) i::before {
    transform: translate(calc(100% * var(--float_in_from_x)), calc(100% * var(--float_in_from_y)));
}


.capability_entry .content,
.capability_entry .main_title {
    transition: all var(--transition);
}

.capability_entry .texts {
    overflow: hidden;
    flex-grow: 1;
}

.capability_entry .moving {
    --float_in_from_x: -1;
    --float_in_from_y: 0;
    transition: all var(--transition);
}

.capability_entry:not(.visible) .moving {
    transform: translate(calc(100% * var(--float_in_from_x)), calc(100% * var(--float_in_from_y)));
}

@media screen and (max-width: 500px) {
    .vertical_line {
        height: var(--thickness);
        width: var(--length);
        margin: var(--margin) 0px;
    }

    .capability_entry {
        flex-direction: column;
    }

    .capability_entry .main_title {
        font-size: 1.2em;
    }

    .capability_entry .content {
        font-size: 0.8em;
    }


    .capability_entry i::before {
        --float_in_from_x: 0;
        --float_in_from_y: 1;
    }
    .capability_entry .moving {
        --float_in_from_x: 0;
        --float_in_from_y: -1;
    }
}

@media screen and (max-width: 1000px) {
    .capability .container {
        grid-template-columns: auto;
    }
}