.contacts {
    font-size: var(--title);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact_entry {
    color: var(--text1);
}


.contact_entry:not(.visible) .key {
    transform: translateX(calc(101% + var(--margin)));
}

.contact_entry:not(.visible) .value {
    transform: translateX(calc(-101% - var(--margin)));
}

.contact_entry:not(.visible) .line {
    --length: 0;
}

.contact_entry:not(.visible) {
    background-color: transparent;

}

.contact_entry *,
.contact_entry {
    transition: all 0.5s ease-in-out;
}

.contact_entry .key {
    font-weight: bold;
}

.contact_entry .line {
    margin: auto;
}

.contact_entry .value {
    text-align: end;
}