.contacts {
    font-size: 25px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact_entry {
    color: var(--text1);
    width: 500px;
    max-width: 80vw;
    margin: auto;
    --flip: 0;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotate(calc(var(--random) * 1deg)) rotateX(calc(var(--flip) * 180deg));
    transition: transform 0.5s ease-in-out;
}

.contact_entry .front,
.contact_entry .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: visible;
}

.contact_entry .front {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.contact_entry .back{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    transform: rotateX(180deg);
}

.contact_entry:not(.visible) {
    --flip: 1;
}

.contact_entry .key {
    font-weight: bold;
}