 * {
     margin: 0px;
     padding: 0px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 body {
     background-color: var(--box2hlf);
     overflow-x: hidden;
     width: 100%;
 }

 html {
     scroll-behavior: smooth;
 }


 :root {
     --html: rgb(207, 0, 0);
     --javascript: rgb(255, 215, 58);
     --css: rgb(90, 115, 255);
     --nodejs: rgb(78, 226, 85);
     --postgresql: rgb(47, 125, 226);
     --git: rgb(255, 94, 0);
     --react: rgb(0, 151, 211);
     --mongo: rgb(255, 136, 0);
     --nextjs: rgb(56, 56, 56);

     --box1: rgb(77, 77, 77);
     --box1hl: rgb(107, 107, 107);
     --text1: rgb(255, 255, 255);
     --divider: rgb(168, 168, 168);
     --box2: rgb(255, 255, 255);
     --box2hl: rgb(202, 202, 202);
     --box2hlf: rgb(233, 233, 233);
     --text2: rgb(0, 0, 0);
     --text_fade: rgb(80, 80, 80);

     --container: rgb(58, 58, 58);
     --container_text: rgb(255, 255, 255);

     --color: rgb(0, 221, 85);
     --navbar_height: 50px;
     --mobile: 800px;

     /*sideways padding or margin compared to the edge of the screen, used by multiple elements*/
     --padding: 80px;
     /*font size for titles*/
     --font-size: 40px;
     /*paper piece size*/
     --effect: calc(min(8vw, 70px));
     /*paper piece another sizing*/
     --effect_cube: calc(min(100vw, 100vh, 400px));

     --margin_:20px;
     --border-radius:20px;
 }

 @media screen and (max-width: 600px) {
     :root {
         --padding: 40px;
     }
 }

 @media screen and (max-width: 500px) {
     :root {
         --font-size: 8vw;
     }
 }

 .invisible_link {
     text-decoration: none;
     color: inherit;
 }