 * {
     margin: 0px;
     padding: 0px;
 }

 body {
     background-color: var(--box2hlf);
     overflow-x: hidden;
     width: 100%;
     font-family: var(--font);
 }

 html {
     scroll-behavior: smooth;
 }


 :root {
     --html: rgb(207, 0, 0);
     --javascript: rgb(228, 193, 54);
     --css: rgb(90, 115, 255);
     --nodejs: rgb(57, 182, 64);
     --postgresql: rgb(47, 125, 226);
     --git: rgb(255, 94, 0);
     --react: rgb(0, 151, 211);
     --mongo: rgb(255, 136, 0);
     --nextjs: rgb(56, 56, 56);

     --box1: rgb(77, 77, 77);
     --box1hl: rgb(107, 107, 107);
     --text1: rgb(255, 255, 255);
     --divider: rgb(168, 168, 168);
     --box2: rgb(255, 255, 255);
     --box2hl: rgb(202, 202, 202);
     --box2hlf: rgb(233, 233, 233);
     --text2: rgb(0, 0, 0);
     --text_fade: rgb(80, 80, 80);

     --container: rgb(48, 48, 48);
     --container_inner: rgb(73, 73, 73);
     --container_text: rgb(255, 255, 255);

     --color: rgb(0, 221, 85);
     --navbar_height: 50px;
     --mobile: 800px;

     /*sideways padding or margin compared to the edge of the screen, used by multiple elements*/
     --padding: 80px;
     /*paper piece size*/
     --effect: calc(min(8vw, 70px));
     /*paper piece another sizing*/
     --effect_cube: calc(min(100vw, 100vh, 400px));

     --margin: 20px;
     --border-radius: 20px;

     --section-title: 40px;
     --title: 1.5rem;
     --body: 1rem;

     --button-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     --font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 @media screen and (max-width: 600px) {
     :root {
         --padding: 40px;
     }
 }


 .invisible_link {
     text-decoration: none;
     color: inherit;
 }

 h2 {
     font-size: var(--section-title);
 }

 h3 {
     font-size: var(--title);
 }