/*universal*/
.paper_panel, .paper_piece{
  background-image: linear-gradient(160deg, rgba(0, 0, 0, 0.253), rgba(255, 255, 255, 0.247));
}

.paper_piece {
  position: absolute;
  --shadow: calc(var(--effect) * 0.1);
  filter: drop-shadow(rgba(0, 0, 0, 0.438) 0px var(--shadow) var(--shadow));
  transition: all 0.5s;
  transition-delay: calc(0.2s * var(--type));
}

.paper_pieces.from_right, .paper_pieces.from_left {
  width: 100%;
  height: calc(var(--effect) * 4);
  position: relative;
  overflow: hidden;
}

/*from right*/
.paper_pieces.from_right .paper_piece {
  --type: 0;
  --size: calc(var(--effect) * (3 - var(--type)));
  z-index: calc(var(--type));
  top: calc(var(--type) * var(--effect) * 0.8 + var(--effect) * 0.4);
  right: calc(var(--type) * var(--effect) * 1.5);
  transform: rotate(calc(var(--type) * 10deg + 10deg));
  width: var(--size);
  height: var(--size);
}
.paper_pieces.from_right:not(.visible) .paper_piece {
  right: calc(0px - var(--size) * 1.5);
  transform: rotate(0deg);
}

/*from left*/
.paper_pieces.from_left .paper_piece {
  --type: 0;
  --size: calc(var(--effect) * (3 - var(--type)));
  z-index: calc(var(--type));
  top: calc(var(--type) * var(--effect) * 0.8 + var(--effect) * 0.4);
  left: calc(var(--type) * var(--effect) * 1.5);
  transform: rotate(calc(var(--type) * 10deg + 10deg));
  width: var(--size);
  height: var(--size);
}

.paper_pieces.from_left:not(.visible) .paper_piece
{
  left: calc(0px - var(--size) * 1.5);
  transform: rotate(0deg);
}


/*lines*/
.paper_pieces.lines {
  width: 100%;
  --offset:100px;
  --height :30vh;
  height:  calc(var(--height) + var(--offset) + var(--effect) * 0.4) ;
  position: relative;
  overflow: hidden;
}

.paper_pieces.lines .paper_piece {
  --type: 0;
  top: calc( var(--offset) * var(--type ) / 5 + var(--effect)*0.1);
  left: calc(50% + 15% * (var(--type) - 2.5));
  width: 10vw;
  height: var(--height);
  transform: translateX(-50%)
}

.paper_pieces.lines:not(.visible) .paper_piece
{
 height: 0px;
}

/*flower*/
.paper_pieces.flower {
  width: 100%;
  height:  calc(var(--effect_cube)*0.8) ;
  position: relative;
  overflow: hidden;
}

.paper_pieces.flower .paper_piece {
  --type: 0;
  --size:calc(var(--effect_cube) * 0.5);
  top:  50%;
  left: 50%;
  width: var(--size);
  height: var(--size);
  transform: translate(-50%, -50%) rotate(calc(var(--type) * 10deg));
}

.paper_pieces.flower:not(.visible) .paper_piece
{
 height: 0px;
 width: 0px;
}

/*double lines*/
.paper_pieces.cubes {
  width: 100%;
  height:  calc(var(--effect) * 4) ;
  position: relative;
  overflow: hidden;
}

.paper_pieces.cubes .paper_piece {
  --type: 0;
  --size:calc(var(--effect) * 2);
  top: 50%;
  left: calc(50% + (var(--type) - 2.5) * var(--effect));
  width: var(--size);
  height: var(--size);
  transform: translate(-50%, -50%) rotate(45deg) ;
}

.paper_pieces.cubes:not(.visible) .paper_piece
{
 left:calc( var(--effect) * -1.5);
}

/*background*/
.paper_background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.paper_background .paper_piece {
  --effect_scale: calc(max(var(--effect_cube), 400px));
  --type: 0;
  --size: calc(var(--effect_scale) * 0.6);
  width: var(--size);
  height: var(--size);
  z-index: calc(0 - var(--type));
  transform: translate(-50%, -50%) rotate(calc(var(--type) * 5deg));
  top: calc(50vh * (0.8 + var(--type) * 0.15));
  left: calc(50vw * (0.8 + var(--type) * 0.15));
  transition-delay: calc(0.2s * (2 - var(--type)));
}

.sticky[data-step="0"]:not([data-active="true"]) .paper_piece {
  left: -100%;
}