.portfolio {
    height: 100vh;
    width: 100%;
    --animation_time: 0.5s;
    --menu_height:50px;
}

.portfolio .sticky {
    position: sticky;
    position: -webkit-sticky;
    /*the navbar covers thetop of the screen*/
    top: var(--navbar_height);

    width: 100%;
    height: calc(100vh - 50px);
    width: 100%;
}



.sticky .portfolio_menu{
    height: var(--menu_height);
    transition: all 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom:0px;
    width: 100%;
}

.sticky .portfolio_menu a{
text-decoration: none;
color: var(--box1);
font-size: 30px;
}
.sticky .portfolio_menu a:hover{
    color: var(--box1hl);
    }

.sticky:not([data-active="true"]) .portfolio_menu{
   opacity: 0;
}
