.projects {
    margin: 150px 0px;
    --font_size: 1;
}

.projects .container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/*entry*/
.project_entry {
    display: flex;
    background-color: rgb(59, 59, 59);
    --padding: 20px;
    padding: var(--padding);
    border-radius: 20px;
    width: 800px;
    max-width: 80vw;
    margin: auto;
    overflow: hidden;
    --time: 0.5s;
    box-sizing: border-box;
}

/*image*/
.project_entry img {
    width: 300px;
    height: 300px;
    transition: transform var(--time);
    border-radius: 10px;
}

.project_entry:not(.visible) img {
    transform: translateX(calc(-100% - var(--padding)));
}

/*deltails*/
.project_entry .deltails {
    display: flex;
    flex-direction: column;
    transition: transform var(--time);
    flex-grow: 1;
    justify-content: space-between;
    gap:10px
}

.project_entry:not(.visible) .deltails {
    transform: translateX(calc(100% + var(--padding)));
}

.project_entry .title{
    font-size: calc(var(--font_size) * 2rem);
}
.project_entry .desc{
    font-size: calc(var(--font_size) * 1.25rem);
}


/*textbox*/
.projects .text_box * {
    color: var(--text1);
}

/*buttons*/
.projects .buttons {
    display: flex;
}

.projects .buttons * {
    font-size: calc(var(--font_size) * 1.25rem);
}

/*separator*/

.project_entry .separator {
    margin: 0 10px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.384);
    transform: scaleY(0%);
    transition: transform var(--time);
    flex-shrink: 0;
}

.project_entry.visible .separator {
    transform: unset;
}

/*responsive*/
@media  (max-width: 700px) {
    .project_entry{
    flex-direction: column;
    width: 400px;
    }
    .project_entry .separator {
        margin: 10px 0px;
        height: 2px;
        width: auto;
        transform: scaleX(0%);
    }    
    .project_entry:not(.visible) .deltails {
        transform: translateY(calc(100% + var(--padding)));
    }
    .project_entry img{
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }
    .project_entry:not(.visible) img {
        transform: translateY(calc(-100% - var(--padding)));
    }
}
@media  (max-width: 450px) {
    .project_entry{
        max-width: 90vw;
    }
    .projects {
        --font_size: 0.7;
    }    
}