.projects {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

/*entry*/
.project_entry {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    --time: 0.5s;
}

/*image*/
.project_entry img {
    width: 300px;
    height: 300px;
    transition: transform var(--time);
    border-radius: 10px;
}

.project_entry:not(.visible) img {
    transform: translateX(calc(-100% - var(--padding)));
}

/*deltails*/
.project_entry .deltails {
    display: flex;
    flex-direction: column;
    transition: transform var(--time);
    flex-grow: 1;
    justify-content: space-between;
    gap: 10px
}

.project_entry:not(.visible) .deltails {
    transform: translateX(calc(100% + var(--padding)));
}

.project_entry .title {
    font-size: var(--title);
}

/*textbox*/
.projects .text_box * {
    color: var(--text1);
}

/*buttons*/
.projects .buttons {
    display: flex;
}

.projects .buttons * {
    font-size: var(--title)
}

/*separator*/

.project_entry .separator {
    margin: 0 10px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.384);
    transform: scaleY(0%);
    transition: transform var(--time);
    flex-shrink: 0;
}

.project_entry.visible .separator {
    transform: unset;
}

/*responsive*/
@media (max-width: 700px) {
    .project_entry {
        flex-direction: column;
    }

    .project_entry .separator {
        margin: 10px 0px;
        height: 2px;
        width: auto;
        transform: scaleX(0%);
    }

    .project_entry:not(.visible) .deltails {
        transform: translateY(calc(100% + var(--padding)));
    }

    .project_entry img {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }

    .project_entry:not(.visible) img {
        transform: translateY(calc(-100% - var(--padding)));
    }
}