.portfolio .root_image {
    height: 100%;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.705));
}

.portfolio .root_image,
.portfolio .copy_image_size {
    border-radius: 20px;
}

.portfolio .picture {
    height: calc(100% - 10vh);
    width: calc(100% - 10vw);
}

.portfolio .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - var(--menu_height));
    width: 100%;
}

.copy_image_size {
    position: absolute;
    overflow: hidden;
}

.copy_image_size .cover,
.portfolio .scrolling,
.split,
.end {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



.visiblility {
    width: 100%;
    height: 0%;
    mask-image: linear-gradient(white, white);
    -webkit-mask-image: linear-gradient(white, white);
    transition: height var(--animation_time);
}

.copy_image_size .cover {
    background: linear-gradient(rgb(0, 255, 157), rgb(5, 158, 0));
    transition: all var(--animation_time);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
}

.copy_image_size .cover p {
    --border: 5px;
    color: white;
    border: var(--border) solid white;
    display: inline-block;
    font-size: 3rem;
    border-radius: 10px;
    position: relative;
}

@media screen and (max-width: 400px) {
    .copy_image_size .cover p {
        font-size: 2rem;
    }
}

.copy_image_size .cover p::before,
.copy_image_size .cover p::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: var(--border);
    top: 50%;
    background-color: white;
    transform: translateY(-50%);
}

.copy_image_size .cover p::before {
    left: 100%;
}

.copy_image_size .cover p::after {
    right: 100%;
}


.sticky .scrolling img {
    position: relative;
    transition: all calc(var(--animation_time)*4);
    --scroll_target: 0.0;
}

.portfolio .scrolling img {
    width: 100%;
}


.dialogue {
    background-color: rgba(255, 255, 255, 0.856);
    bottom: 0px;
    position: absolute;
    width: 100%;
    transform: translateY(100%);
    transition: all var(--animation_time);
    transition-delay: var(--animation_time);
}
.dialogue::before{
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    top:0px;
    left: 0px;
    backdrop-filter: blur(10px);
    z-index: -1;
}

.dialogue.top {
    top: 0px;
    bottom: auto;
    transform: translateY(-100%);
}

.dialogue.center {
    bottom: 50%;
    --height: 0%;
    transform: translateY(50%) scaleY(var(--height));
}

.dialogue .title,
.dialogue .description {
    text-align: center;
    margin: 10px;
    color: black;
    text-shadow: 0px 0px 5px white;
}

.dialogue .title {
    font-size: 1.5rem;
}

.split .upper,
.split .lower {
    width: 100%;
    height: 51%;
    position: absolute;
    left: 0px;
    transition: transform var(--animation_time);
}

.split .upper {
    top: 0px;
    transform: translateX(101%);
}

.split .lower {
    bottom: 0px;
    transform: translateX(-101%);
}

.split img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.end {
    background: linear-gradient(45deg, rgb(41, 41, 41), rgb(102, 104, 121) 50%, rgb(41, 41, 41));
    transition: all calc(var(--animation_time) * 2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    --fill:0%;
    clip-path: circle(var(--fill));
}
.end .description
{
    width: 80%;
    max-width: 800px;
    color: white;
    position: relative;
    padding: 20px;
    font-size: 1.2rem;
}
@media screen and (max-width: 400px) {
    .end .description
    {
        font-size: 4.5vw;
    }
}
.end .description::before,.end .description::after
{
    width: 50%;
    height: 50%;
    position: absolute;
    content: "";
    border: solid 3px white;
}
.end .description::before
{
    top: 0px;
    left: 0px;
    border-bottom: none;
    border-right: none;
}
.end .description::after
{
    bottom: 0px;
    right: 0px;
    border-top: none;
    border-left: none;
}
.end a{
    font-family: inherit;
    font-weight: bold;
color:var(--color);
font-size: 2rem;
text-decoration: none;
position: relative;
}
.end a::after{
    content: "";
    position: absolute;
    height: 0.2em;
    background-color: var(--color);
    width: 100%;
    top: 100%;
    left: 0px;
    border-radius: 50%;
}







/*step 0*/
.sticky.project1 #page0 {
    height: 100%;
}

/*step 1*/
.sticky.project1[data-step1="true"] #page0 {
    height: 0%;
}

.sticky.project1[data-step1="true"] #page1 .dialogue {
    transform: translateY(0%);
}

/*step 2*/
.sticky.project1[data-step2="true"] #page1 .scrolling img {
    --scroll_target: 1.0;
}

/*step 3*/
.sticky.project1[data-step3="true"] #page2 {
    height: 100%;
}

.sticky.project1[data-step3="true"] #page2 .dialogue {
    transform: translateY(0%);
}

/*step 4*/
.sticky.project1[data-step4="true"] #page2 .scrolling img {
    --scroll_target: 1.0;
}

/*step 5*/
.sticky.project1[data-step5="true"] #page3 .lower,
.sticky.project1[data-step5="true"] #page3 .upper {
    transform: translateX(0%);
}

.sticky.project1[data-step5="true"] #page3 .dialogue.center {
    --height: 100%;
}

/*step 6*/
.sticky.project1[data-step6="true"] #page4.end {
    --fill:100%
}
