
/*general*/
.my_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.my_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.code_background {
    background-image: url("code_background.jpg");
    background-size: cover;
}

.start_div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: var(--margin_);
    height: calc(100dvh - var(--navbar_height) - var(--margin_)*2);
    border-radius: var(--border-radius);
    width: calc(100% - 40px);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.705));
}

.profile {
    width: 30vw;
}
.moving_text_prefix.colored_row
{
    font-size: 70%;
  color: var(--color);
  line-height:3em;
}

/*moving text*/
.moving_text .row * {
    display: table-cell;
    font-size:inherit;
    color: var(--text1);
}
.moving_text .icon {
    display: table-cell;
   height: 1em;
}
.moving_text_prefix {
    font-weight: bold;
    margin: 0.25em;
    color: var(--text1);
    white-space: nowrap;
}
.moving_text *{
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

/*the animation names are used by javascript*/
/*the animations are added and started by JS*/
@keyframes letter_movement_in {
    0% {
        transform: translateY(200%);
    }
    70% {
        transform: translateY(-30%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes letter_movement_out {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-200%);
    }
}


.moving_text .row {
    flex-direction: row;
    align-items: center;
    position: absolute;
    gap:0.1em;
    display: none;
}
.moving_text .row.active
{
    display: inline-flex;
}

.moving_text {
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    justify-content: center;
    border-radius: 0.5em;
    padding: 0.5em;
    position: relative;
    height: 1em;
    transition: all 0.7s;
}

.moving_text_container
{
    font-size: 3vw;/*all elements inside the moving_text_container inherit this font-size*/
    min-width: 18em;/*fixed width is necessary to prevent the changing text from resizing the div*/
}

/*button*/
.nice_button
{
    display: block;
    background: none;
color: var(--color);
border: solid 2px var(--color);
border-radius: 0.4em;
font-size: 70%;
position: relative;
transition: background-size 0.5s;
background: linear-gradient(var(--color) , var(--color)) transparent no-repeat 0 0;
background-size: 0% 100%;
box-sizing: border-box;
cursor: pointer;
}
.nice_button .text
{
    background: linear-gradient(var(--text2) , var(--text2)) var(--color) no-repeat 0 0;
background-clip:text;
-webkit-background-clip: text;
color: transparent;
background-size: 0% 100%;
transition: inherit;
padding: 0.3em;
text-wrap: nowrap;
}
 .nice_button:hover .text,  .nice_button:hover
{
    background-size: 100% 100%;
}

.button_container{
    display: flex;
    gap: 10px;
}

/*link of button*/
.button_link{
    text-decoration: none;
    cursor: unset;
}

/*responsive*/
@media screen and (max-width: 1200px) {
    .start_div
    {
        flex-direction: column-reverse;
    }
    .profile {
        width: 50vw;
        max-width: 400px;
    }
    .moving_text_container {
        font-size: calc(min(5vw,40px));
    }
}
@media screen and (max-width: 550px) {
    .nice_button
{
    font-size: 100%;
}
}

.nice_button.bigger
{
    font-size: 200%;
}