.technical {
    margin: 100px 0px;
}

 .section_title .text {
    font-weight: bold;
    font-size: var(--font-size);
    color: transparent;
    background: linear-gradient(var(--text2), var(--text2)) transparent no-repeat 0 0;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 0% 100%;
    transition: background-size 0.75s;
    display: inline-block;
    padding: 0px var(--padding);
    text-wrap: nowrap;
}

.section_title {
    width: 100%;
    margin-bottom: 100px;
}

.section_title.visible .text {
    background-size: 100% 100%;
}
.section_title .line,
.left_line {
    content: "";
    display: block;
    height: 2px;
    background-color: var(--color);
    background: linear-gradient(90deg, var(--color), transparent);
    transition: transform 0.5s;
    transition-delay: 0.5s;
    width: 90%;
    transform: translateX(-100vw);
}

.left_line {
    transition-delay: 0s;
}

.section_title.visible .line,
.visible .left_line {
    transform: translateX(0vw);
}



.moving_sections section {
    padding: var(--padding);
    --slope: 30px;
    margin: calc(0px - var(--slope)) 0px;
    clip-path: polygon(0% 0%, 100% var(--slope), 100% calc(100% - var(--slope)), 0% 100%);
    background-image: linear-gradient(160deg, rgba(0, 0, 0, 0.253), rgba(255, 255, 255, 0.247));
    color: var(--text1);
    transition: transform 0.5s ease-in-out;
    transform: translateX(-100%);
    font-size: 1.5rem;
}

.moving_sections {
    margin: 50px 0px;
}

.moving_sections :nth-child(2n) section {
    clip-path: polygon(0% var(--slope), 100% 0%, 100% 100%, 0% calc(100% - var(--slope)));
    transform: translateX(100%);
}

.moving_sections section.visible {
    transform: translateX(0%);
}

.moving_sections .shadow {
    overflow-x: clip;
    filter: drop-shadow(rgba(0, 0, 0, 0.438) 0px 10px 10px);
    position: relative;
}

@media screen and (max-width: 600px) {
    .moving_sections section {
        font-size: 1rem;
    }
}