.moving_sections section {
    transition: transform 0.5s ease-in-out;
    --offset: 1;
    transform: translateX(calc(var(--offset) * (100% + var(--padding))));
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.moving_sections section::before {
    background-color: var(--my-color);
    width: 10px;
    position: absolute;
    height: 100%;
    content: "";
    z-index: -1;
    left: 0;
}

.moving_sections {
    margin: 50px 0px;
}

.moving_sections :nth-child(2n) {
    --offset: -1;
}

.moving_sections section.visible {
    transform: translateX(0%);
}

.moving_sections .shadow {
    overflow-x: clip;
    filter: drop-shadow(rgba(0, 0, 0, 0.438) 0px 10px 10px);
    position: relative;
}