.section_title .text {
    font-weight: bold;
    font-size: var(--font-size);
    color: transparent;
    background: linear-gradient(var(--text1), var(--text1)) transparent no-repeat 0 0;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 0% 100%;
    transition: background-size 0.75s;
    display: inline-block;
    padding: 0px var(--padding);
    text-wrap: nowrap;
}

.section_title {
    width: 100%;
    margin-bottom: 100px;
}

.section_title.visible .text {
    background-size: 100% 100%;
}

.section_title .line,
.left_line {
    content: "";
    display: block;
    height: 2px;
    background-color: var(--color);
    transition: transform 0.75s;
    transition-delay: 0.25s;
    width: 90%;
    transform: translateX(-100vw);
}

.left_line {
    transition-delay: 0s;
}

.section_title.visible .line,
.visible .left_line {
    transform: translateX(0vw);
}